[Unit]
Description=Miraiskey Service

[Service]
Type=simple
User=miraiskey
ExecStart=/usr/bin/npm start
WorkingDirectory=/home/miraiskey/miraiskey
Environment="NODE_ENV=production"
LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libjemalloc.so.2
TimeoutSec=60
StandardOutput=journal
StandardError=journal
SyslogIdentifier=miraiskey
Restart=always

[Install]
WantedBy=multi-user.target
